@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Roboto Light", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #546e7a;
}

.container {
  width: 1200px;
  margin: 0 auto;
  z-index: -8;
}

.title-main-middle {
  width: 1200px;
  font-size: 36px;
  font-weight: 300;
  word-break: break-word;
  color: #a2b5c6;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?xx996d");
  src: url("../fonts/icomoon.eot?xx996d#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?xx996d") format("truetype"), url("../fonts/icomoon.woff?xx996d") format("woff"), url("../fonts/icomoon.svg?xx996d#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-connection:before {
  content: "";
}

.icon-stack:before {
  content: "";
}

.icon-folder:before {
  content: "";
}

.footer_menu {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

li {
  display: inline-block;
}

/* чтоб маркированный список был в линию */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  max-width: 270px;
}

.under_footer {
  margin-bottom: 20px;
}
.under_footer .footer-bottom {
  width: 300px;
}

.footer_menu ul li a {
  text-decoration: none;
  -webkit-box-direction: normal;
  font-family: Graphik, Arial, sans-serif;
  color: #3f5067;
  box-sizing: border-box;
  outline: none;
  border-bottom: 1px solid #edecec;
  font-size: 16px;
  line-height: 24px;
  padding: 17px 17px 17px;
}

.container .footer_menu .img_download_GooglePlay img {
  height: 40px;
  width: 200px;
}
.container .under_footer_full {
  display: flex;
  justify-content: stretch;
}
.container .under_footer_full .footer_logo {
  width: 200px;
  display: inline-block;
  overflow: hidden;
  padding-bottom: 80px;
}
.container .under_footer_full .footer_logo img {
  margin-left: 25px;
  border-radius: 15%;
  display: inline-block;
  overflow: hidden;
}

.footer_logo_text {
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  word-break: break-word;
  color: darkred;
}

.container .under_footer_full .footer_logo img {
  margin-top: 65px;
  width: 150px;
  height: 50px;
}

.footer_icon_social_network {
  width: 450px;
  display: flex;
  justify-content: space-between;
}
.footer_icon_social_network img {
  width: 50px;
  height: 50px;
}

.under_footer1 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.img_download_AppStore {
  margin-left: 12px;
}

.under_footer2 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.footer-license {
  font-size: 12px;
  font-weight: 300;
  color: #a2b5c6;
  text-align: left;
}
.footer-license::before {
  content: "";
  font-family: "icomoon";
}

.footer_creature {
  font-size: 24px;
  font-weight: 300px;
  color: lightskyblue;
  text-align: left;
}

.footer_icon_social_network .icon_sn:before, .footer_icon_social_network .icon_sn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: blue;
  border-radius: 50%;
  filter: blur(20px);
  z-index: -1;
  opacity: 0;
  transition: 1.5s;
}
.footer_icon_social_network .icon_sn:hover {
  transform: scale(1);
}
.footer_icon_social_network .icon_sn:hover:before, .footer_icon_social_network .icon_sn:hover:after {
  opacity: 1;
}

.list_article {
  margin-top: 25px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}

.image-article {
  max-width: 300px;
  max-height: 150px;
  display: inline-block;
  overflow: hidden;
  /*что не попадает в блок - скрыто*/
  /* Убираем небольшой отступ снизу */
}
.image-article img {
  transition: 1s;
  display: block;
}

.article img:hover {
  transform: scale(1.2);
}

.list_reviews {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.content-reviews {
  max-width: 300px;
  max-height: 150px;
  text-align: justify;
  display: inline-block;
  overflow: hidden;
}

/*что не попадает в блок - скрыто*/
.botton_news {
  display: flex;
  justify-content: center;
}

.title-article {
  text-align: center;
}
.title-article a {
  text-decoration: none;
}

.products__inner-btn {
  padding-top: 12px;
  text-align: center;
  margin-bottom: 50px;
}
.products__inner-btn button {
  padding: 12px 21px;
  border: none;
  background-color: #fff;
  color: #1c7430;
  cursor: pointer;
}
.products__inner-btn button + button {
  margin-left: 5px;
}
.products__inner-btn button.mixitup-control-active {
  background-color: red;
  color: white;
  outline: none;
}

.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__item {
  max-width: 342px;
  width: 100%;
  margin-bottom: 30px;
}
.product__item-img {
  min-height: 250px;
  background-repeat: no-repeat;
  display: block;
  background-position: center;
  background-size: cover;
  background-image: url(img/article1.jpg);
}
.product__item-content {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
  max-height: 90px;
  color: blue;
}
.product__item-title {
  color: green;
  line-height: 60px;
  font-weight: 500;
  font-size: 18px;
  display: block;
}
.product__item-category {
  display: block;
}

.title-reviews {
  text-align: center;
  text-decoration: none;
}

.title-reviews a {
  text-decoration: none;
}

.slider {
  padding: 20px 0px 10px;
}

.slider__item {
  background-image: url(../img/main/BisLite_slider.png);
  min-height: 440px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* position, size, repeat нужны для мобильной версии */
.slider__item-title {
  font-size: 50px;
  color: #fff;
  width: 300px;
  margin-left: 60px;
  font-weight: 700;
  padding-top: 90px;
}

.slick-dots li {
  /* делаем кружочки */
  /* расстояние между кружочками */
  margin: 0 9px;
  /* 9, чтобы между двумя кружочками получилось 18 */
  width: auto;
  height: auto;
}
.slick-dots li button {
  /* делаем кружочки перехода, их адрес узнали через исперктор илементов */
  width: 14px;
  height: 14px;
  background-color: rgba(98, 98, 98, 0.5);
  border-radius: 50%;
}
.slick-dots li.slick-active button {
  background-color: white;
}
.slick-dots li button::before {
  display: none;
}

.items {
  background-color: #e8ebf1;
  padding: 60px 0px 50px;
  border-bottom: 1px solid #d9d9d9;
}

.items__inner {
  display: flex;
  justify-content: space-between;
}

.item {
  width: 225px;
  font-family: "arial", sans-serif;
}

.item__title {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  /*чтобы все были с большой буквы */
  padding: 10px 0 0 60px;
  margin-bottom: 30px;
  position: relative;
}

.item__icons {
  position: absolute;
  top: 0;
  left: 0;
}

.item__text {
  font-size: 13px;
  color: #363636;
  margin-bottom: 25px;
}

.item__link {
  padding-left: 15px;
  font-size: 13px;
  color: #2aacc8;
  position: relative;
}
.item__link::before {
  content: "";
  position: absolute;
  background-image: url(../icons/arrow.png);
  left: 0;
  top: 4px;
  width: 5px;
  /*для background-image укажем высоту и ширину нашей стрелки */
  height: 7px;
}

.works__title {
  padding: 25px 0px 15px 40px;
  position: relative;
  font-family: "arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.works__title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  background-image: url(../icons/cursor.png);
  width: 14px;
  /*обязательно нужно поставить размер для background-image */
  height: 24px;
}

.works__inner-item {
  width: 200px;
  height: 200px;
  /*overflow: hidden; */
  width: 150px;
  height: 150px;
  padding: 10px 10px;
}

.works__inner {
  padding: 20px 0px 40px;
  border-top: 1px solid #dfe1e5;
  /*добавить линию толщина тип и цвет */
  border-bottom: 1px solid #dfe1e5;
}

.slick-arrow {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #1eacc7;
  /*убрать стрелки, которые были в библиотеке */
}
.slick-arrow::before {
  display: none;
}
.slick-arrow:hover, .slick-arrow:focus {
  background-color: #1eacc7;
}

/*исправим фокус библиотеки */
.slick-prev {
  right: 30px;
  top: -27px;
  left: auto;
}

.slick-next {
  right: 0;
  top: -27px;
}

.works__inner-box {
  z-index: 2;
  display: inline-block;
}

/*                          чтобы внутренний элемент не вылазил за границы
 * * ширина элемента будет такая сколько там контента внутри а block значит что там буду работать блочные свойства */
.works__inner-link {
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Article__PackOfMoney-inner {
  margin: 0 auto;
  padding-left: 400px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Article__PackOfMoney {
  position: relative;
  width: 750px;
  height: 1334px;
  margin-top: 150px;
  background-color: transparent;
  transform: scale(0.5) rotate(-30deg) skew(25deg);
}
.Article__PackOfMoney img {
  position: absolute;
  width: 100%;
  transition: 0.5s;
}

.Article__PackOfMoney:hover img:nth-child(9) {
  transform: translate(55px, -55px);
  opacity: 1;
}

.Article__PackOfMoney:hover img:nth-child(8) {
  transform: translate(50px, -50px);
  opacity: 0.9;
}

.Article__PackOfMoney:hover img:nth-child(7) {
  transform: translate(45px, -45px);
  opacity: 0.8;
}

.Article__PackOfMoney:hover img:nth-child(6) {
  transform: translate(40px, -40px);
  opacity: 0.7;
}

.Article__PackOfMoney:hover img:nth-child(5) {
  transform: translate(35px, -35px);
  opacity: 0.6;
}

.Article__PackOfMoney:hover img:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.5;
}

.Article__PackOfMoney:hover img:nth-child(3) {
  transform: translate(25px, -25px);
  opacity: 0.4;
}

.Article__PackOfMoney:hover img:nth-child(2) {
  transform: translate(15px, -15px);
  opacity: 0.3;
}

.Article__PackOfMoney:hover img:nth-child(1) {
  transform: translate(10px, -10px);
  opacity: 0.2;
}

.article__content {
  margin-top: 20px;
}

.product-one {
  align-items: center;
}
.product-one__text {
  color: #ff0000;
}
.product-one__content {
  margin-right: 31px;
  max-width: 870px;
}
.product-one__title {
  font-size: 30px;
  color: #0c5460;
  line-height: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.product-one__img {
  width: 400px;
  height: 300px;
  overflow: hidden;
}
.product-one__img img {
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
  background-position: center;
  width: 400px;
  height: 300px;
  transition: 1s;
}
.product-one__img img:hover {
  transform: scale(1.2);
}

.breadcrumbs__list li a {
  text-decoration: none;
  color: #546e7a;
}

.breadcrumbs__list li span {
  color: #546e7a;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
